* {
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-image: url("")"
}
  
header {
    border: 10px solid;
    border-style:initial;
    background-color: white;
    background-image: #172941;
    margin: 15px;
  padding: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  color:#172941;
}


.favourites {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-style: bold;
}





.carter {
    text-align: center;
    font-size: 16px;
    color: rgb(0, 0, 65);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

  nav {
    border: 4px solid;
    border-color: white;
    background-color:rgb(228, 243, 255);
    float: left;
    width: 20%;
    height: 250px; 
  }
  
  img {
      height: 240px;
      width: 85%;
      text-align: center;
  }
  
.illustrate {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

  article {
    float: left;
    padding: 30px;
    width: 55%;
    background-color: #f1f1f1;
    height: 250px; 
    color: #203354;
}
  
div {
    font-size: 12px;
}

  section::after {
    content: "";
    display: table;
    clear: both;
  }

  aside {
    border: 4px solid;
    border-color: white;
    width: 25%;
    padding: 20px;
    float: right;
    text-align: left;
    height: 250px;
    font-style: italic;
    background-color: rgb(228, 243, 255);
    font-size: 13px;
  }
  

  footer {
    border: 6px solid;
    border-color: white;
    background-color: white;
    padding: 10px;
    text-align: center;
    color: #172941;
  }
  
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
